.section {
    background-color: white;
    margin: 15px;
    box-shadow: 0 0 15px; 
}

.section__header {
    font-size: 30px;
    padding: 20px; 
    margin: 0; 
}

.section__body {
    padding: 20px; 
}

.section__layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    margin: 15px;
}

@media (max-width: 767px) {
    .section__layout {
        display: grid;
        grid-template-columns: 1fr; 
    }
}