.tasks {
    list-style: none; 
    margin: 0; 
    padding: 0; 
}

.tasks__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid grey;
}

.tasks__item--hidden {
    display: none; 
}

.tasks__content--done {
    text-decoration: line-through;
}

.tasks__button {
    border: none;
    color: white;
    width: 50px; 
    height: 50px;
    padding: 0;
}

.tasks__button--toggleDone {
    background-color: rgb(35, 171, 35);
}

.tasks__button--toggleDone:hover {
    background: hsl(127, 79%, 54%);
    cursor: pointer;
}

.tasks__button--toggleDone:active {
    background: rgb(43, 235, 107);
}

.tasks__button--remove {
    background: hsl(348, 83%, 47%);
}

.tasks__button--remove:hover {
    background: hsl(348, 88%, 65%);
    cursor: pointer;
}

.tasks__button--remove:active {
    background: hsl(348, 90%, 66%);
    }

.section__buttonToggle {
    padding: 10px;
    background-color: rgb(60, 133, 133);
    color: white;
    border: none;
    transition: 1s;
    margin: 7px;
    width: 250px;
}

.section__buttonToggle:hover {
    background: rgb(78, 163, 163);
    cursor: pointer;
}

.section__buttonToggle:active {
    background: rgb(94, 174, 174)
}

.section__buttonToggle:disabled {
    background: rgb(89, 88, 88);
    color: rgb(191, 190, 190);
}

@media (max-width: 767px) {
    .section__buttonToggle {
          width: 100%;
          margin: 5px 20px 5px 20px;
          border: none;
    }
}

.section__buttonToggle--hide:disabled {
    padding: 10px;
    background-color: rgb(60, 133, 133);
    color: white;
    border: none;
    transition: 1s;
    margin: 7px;
    width: 250px;
}

@media (max-width: 767px) {
    .section__buttonToggle--hide:disabled {
          width: 100%;
          margin: 5px 20px 5px 20px;
          border: none;
    }
}

.section__button {
    display: flex; 
   justify-content: flex-end;
   align-items: flex-start;
}

@media (max-width: 767px) {
    .section__button {
        display: grid;
        grid-template-columns: 1fr; 
        justify-items: center;
    }
}
